.navbar {
    background-color: 	#CCFFFF;
}

.quem-somos {
    background-color: antiquewhite;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: bisque;
}